/*Global*/
main{
    padding-top: 50px;
    font-family: lato;
}

.banner{
    height: 250px;
    display: flex;
	justify-content: center;
	align-items: center;
}

.banner-content{
    background-color: rgba(0,0,0,0.5);
    color: white;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

.banner-content h1{
    font-weight:700;
}

.card{
    width: 100%;
    height: 100%;
    text-align: center;
}

.card-img-top{
    height: 50%;
}

.whitespace{
    height: 20px;
}
/*Home Page*/
#home{
    height:100vh;
	color: white;
    background: url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a20bc6324f6ef2969d9a7cae56b8d4d1&auto=format&fit=crop&w=750&q=80);
	background-size: cover;
	background-position: 50% 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#intro{
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

#intro h1{
	font-weight: 700;
	font-size: 5em;
}

#intro hr{
	width: 300px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2)
}

/*About Page*/
#about .banner{
         
    background: url(https://images.unsplash.com/photo-1512667281074-84fc588aa399?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=29d596fae399949ae232a48dd88f8d95&auto=format&fit=crop&w=750&q=80);
    background-position: 0% 60%;
    background-size: cover;
}

#about{
    text-align: center;
}

#about li{
    list-style: none;
}

#about .col-lg-6, #about article{
    margin-bottom: 25px;
}

/*Portfolio Page*/
#portfolio .banner{
    background: url(https://images.unsplash.com/photo-1496950866446-3253e1470e8e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=89cb308d4f29aa91900e63f318b03458&auto=format&fit=crop&w=750&q=80);
    background-position: 0% 50%;
	background-size: cover;
}


#portfolio .col-lg-4, #portfolio .col-sm-6{
    margin-bottom: 25px;
}
/*Contact Page*/
#contact .banner{
    background: url(https://images.unsplash.com/photo-1454997423871-b5215756e54d?ixlib=rb-0.3.5&s=2ce7d0eff268a8527b6a92411e2da123&auto=format&fit=crop&w=750&q=80);
    background-position: 0% 15%;
    background-size: cover;
}
iframe{
    width: 100%;
    height: 250px;
    border: none;
}

#details{
    text-align: center;
}